.loader {
  height: 50px;
  width: 50px;
  border: 10px solid $primary;
  border-radius: 50%;
  border-bottom-color: $secondary;
  border-left-color: $secondary;

  animation: rotate 0.5s linear infinite;

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.block {
  height: 550px;
}
